*.log
.DS_Store
.env
.env.backup
.env.production
.mcp.json
.phpactor.json
.phpunit.result.cache
/.agents
/.claude
/.codex
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/storage/temp
/vendor
_ide_helper.php
AGENTS.md
CLAUDE.md
Homestead.json
Homestead.yaml
polyscope.json
Thumbs.db
