@import 'tailwindcss';

@source '../**/*';

@theme {
    --color-black: #000000;

    --font-inter: 'Inter', sans-serif;
}

@layer base {
    body {
        @apply m-px font-inter text-[12px]/normal text-black antialiased;
    }

    @page {
        size: A4 portrait;
        margin: 2cm;
    }
}
