@import 'tailwindcss';

@source '../**/*';

@theme {
    --color-black: #000000;
}

@layer base {
    body {
        @apply m-px text-[12px]/normal text-black antialiased;
    }

    @page {
        size: A4 portrait;
        margin: 2cm;
    }
}
